<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>TODO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
  <ion-list class="animate__animated animate__backInDown">
    <ion-item *ngIf="listaDeTarefas.length < 1">
      <ion-label>Não há tarefas</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let task of listaDeTarefas">
      <ion-item (click)="openActions(task)">
        <ion-icon slot="start" name="radio-button-off" color="medium" *ngIf="!task.done"></ion-icon>
        <ion-icon slot="start" name="checkmark-circle" color="success" *ngIf="task.done"></ion-icon>
        <ion-label *ngIf="!task.done">
          <h2>{{task.task_name}}</h2>
          <h3>{{task.task_date}}</h3>
        </ion-label>
        <ion-label *ngIf="task.done">
          <del><h2>{{task.task_name}}</h2></del>
          <del><h3>{{task.task_date}}</h3></del>
        </ion-label>
      </ion-item> <!-- fim ion-item -->
      <ion-item-options side="end" icon="trash">
        <ion-item-option color="danger" (click)="delete(task)">Apagar</ion-item-option> 
      </ion-item-options> <!-- fim ion-item-options -->
    </ion-item-sliding> <!-- fim ion-item-sliding -->

    </ion-list> <!--fim ion-list-->
  </div> <!--fim container -->
  


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium" (click)="showAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
